/*banner.css*/

.banner {
  height: 300px;
  background-image: url("https://source.unsplash.com/random/1000x800/?nightmare");
  background-size: cover;
  color: white;
  padding: 120px 0;
}
.banner h1 {
  font-size: 50px;
  text-shadow: 2px 2px 11px black;
  padding: 10px;
  margin: 30px 0px 0px 0px;
}
.banner p {
  font-size: 33px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.9;
  padding: 10px;
  margin: 0px 0px 30px 0px;
}

.container {
  width: 900px;
  margin: auto;
}
