  .card-topcontainer {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
  }

  .card-category {
    display: flex;
    width: 500px;
    height: 200px;
    color: white;
    background-image: url("https://source.unsplash.com/random/800x600/?breakfast");
    justify-content: center;
    background-size: cover;
    font-size: 29px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #00000069
  }

  .card-category h2 {
    text-shadow: 4px 3px 9px black;
  }

/*  .card-product {

  }*/

  .card-trip {
    position: relative;
    width: 500px;
    box-shadow: 1px 1px 2px 1px #00000069
  }

  .card-trip img {
    width: 100%;
    min-height: 70%;
    max-height: 70%;
    background-size: cover;
  }

  .card-trip-footer {
    display:flex;
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    align-items: flex-end;
  }

  .card-trip-footer h2, p {
    margin: 0;
    font-size: 16px;
  }

  .avatar {
    position: absolute;
    bottom: 95px;
    right: 15px;
  }

  .avatar img {
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #0000006e;
    height: 50px;
    width: 50px;
  }
